<footer class="footer section">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Siteyi Gez</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="@Url.Action("About","Home")">Hakkımda</a></li>
                        <li><a href="@Url.Action("Services","Home")">Hizmetler</a></li>
                        <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                        <li><a href="@Url.Action("Portfolio","Home")">Portföy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Sen de Biliyorsun</h4>
                    <p>Geleceğe giden yolda eşlik et </p>


                </div>
            </div>

            @*<div class="col-lg-3 ml-auto col-sm-6">
            <div class="widget">
                <div class="logo mb-4">
                    <h3>Emre<span>Toksöz.</span></h3>
                </div>
                <h6><a href="tel:+23-345-67890">Support@megakit.com</a></h6>
                <a href="mailto:support@gmail.com"><span class="text-color h4">+23-456-6588</span></a>
                </div>
        </div>*@

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Ekstralar</h4>

                    <ul class="list-unstyled footer-menu lh-35">

                        <li><a href="@Url.Action("NftPage","Home")">NFT Listesi</a></li>
                        <li><a href="@Url.Action("Apiler","Home")">Borsa Hakkında</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 ml-auto col-sm-6">
                <div class="widget">
                    <div class="logo mb-4">
                        <h3>Emre<span>Toksöz.</span></h3>
                    </div>
                    <h6><a href="">mail@gmail.com</a></h6>
                    <a href="mailto:support@gmail.com"><span class="text-color h4"></span></a>
                    <a href="https://www.linkedin.com/in/emre-toks%C3%B6z-b953031b6/"  class="fa-linkedin">Linkedin</a>
                  
                </div>
            </div>
        </div>

        <div class="footer-btm pt-4">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="copyright">
                        &copy; Copyright Reserved to <span class="text-color">Megakit.</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="copyright">
                        Distributed by  <a href="https://themewagon.com/" target="_blank">Themewagon</a>
                    </div>
                </div>
                @*<div class="col-lg-4 col-md-12 col-sm-12 text-left text-lg-left">
                    <ul class="list-inline footer-socials">
                        <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="ti-linkedin mr-2 "></i>Linkedin</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</footer>
