<header class="navigation">
    <div class="header-top ">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-2 col-md-4">
                    <div class="header-top-socials text-center text-lg-left text-md-left">
                   
                        <a href="https://github.com/emretksz" target="_blank"><i class="ti-github"></i></a>
                        <a href="https://www.linkedin.com/in/emre-toks%C3%B6z-b953031b6" target="_blank"><i class="ti-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
                    <div class="header-top-info">
                    
                        <a href="mailto:support@gmail.com"><i class="fa fa-envelope mr-2"></i><span>xxx@gmail.com</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand" href=" @Url.Action("Index","Home")">
               Emre<span>Toksöz.com</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
              
                        <a class="nav-link" href=" @Url.Action("Index","Home")">Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href=" @Url.Action("About","Home")">Hakkımda <span class="sr-only">(current)</span></a>
                    </li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="about.html">Our company</a></li>

                        </ul>
                    </li>*@
                    <li class="nav-item"><a class="nav-link" href=" @Url.Action("Services","Home")">Beceriler</a></li>
                    <li class="nav-item"><a class="nav-link" href=" @Url.Action("Portfolio","Home")">Porföy</a></li>
                    <li class="nav-item"><a class="nav-link" href=" @Url.Action("Blog","Home")">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href=" @Url.Action("NftPage","Home")">NFT Listesi</a></li>
                    <li class="nav-item"><a class="nav-link" href=" @Url.Action("Apiler","Home")">Güncel Bilgiler</a></li>
                
                    @*<li class="nav-item"><a class="nav-link" href=" @Url.Action("Index","Home")">İletişim</a></li>*@
                </ul>

                <div class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                  
                    <a href="@Url.Action("Login","Admin", new { area="ManagamentPanel" })" class="btn btn-solid-border btn-round-full">Giriş Yap</a>


                </div>
                
            </div>
        </div>
    </nav>
</header>
