<div class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
            <div class="ttr-sidebar-toggle-button">
                <i class="ti-arrow-left"></i>
            </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>

                <li>
                    <a href="@Url.Action("Index","Abouts")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Hakkımızda</span>
                    </a>
                    <a href="@Url.Action("Index","Blogs")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Blog Yazıları</span>
                    </a>
                    <a href="@Url.Action("Index","Portfolios")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Portföy</span>
                    </a>
                    <a href="@Url.Action("Index","Roles")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Roller</span>
                    </a>
                    <a href="@Url.Action("Index","Services")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Servisler</span>
                    </a>
                    <a href="@Url.Action("Index","Sliders")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Sliders</span>
                    </a>
                    <a href="@Url.Action("Index","Tags")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Taglar</span>
                    </a>
                    <a href="@Url.Action("Index","Users")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Kullanıcılar</span>
                    </a>
                    <a href="@Url.Action("Index","WorkStyles")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Çalışma Şeklimiz</span>
                    </a>
                </li>
                

            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>