@model ET_MyBlog_2021_V2.Models.Blogs

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Blogs",FormMethod.Post,new{@enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Blogs</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SubDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SubDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SubDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
            <h4>Etiketler</h4>
        <div class="col-md-10">
            @if (ViewBag.TagId!=null)
            {
                foreach (var item in (List<ET_MyBlog_2021_V2.Models.Tags>)ViewBag.TagId)
                {
            <input type="checkbox" name="TagId" value="@item.TagId" />
            <label>@item.TagName</label>
                }
            }
            @Html.ValidationMessageFor(model => model.BlogDetails.Author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5>Resim Yükle</h5>
        <div class="col-md-10">
            <input type="file" name="imgFile" value="" />
            @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BlogDetails.Author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BlogDetails.Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BlogDetails.Author, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BlogDetails.AuthorImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="authorImage" value="" />
            @Html.ValidationMessageFor(model => model.BlogDetails.AuthorImage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BlogDetails.AuthorJob, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BlogDetails.AuthorJob, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BlogDetails.AuthorJob, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BlogDetails.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.BlogDetails.Description, new { @class = "form-control", id = "editor1" })
            @Html.ValidationMessageFor(model => model.BlogDetails.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<img src="~/areas/managamentpanel/content/ckeditor/plugins/image/images/blog açma/mssql.png" />